body{
    text-align: center;
    background-color: #fbd139;
}
h1{
 color: blue;
 background-color: cornsilk;
}
#show_sketch{
    float: right;

}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
    margin-top: 100px;
}
p{
    padding-top: 10px;
    font-size: 25px;
}
